.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Montserrat';

  @media screen and (max-width: 799px) {
    padding: 0;
  }

}

.editB {
  position: absolute;
  bottom: 11.2em;
  left: 0.5em;
  cursor: pointer;
  width: 100%;
  max-width: 35px;
  height: auto;

  &--contact{
      @media screen and (max-width: 799px) {
          bottom: 0;
          right: 0;
      }
  }
  
}

.editDes {
  position: absolute;
  top: 17.5em;
  left: 0.5em;
  width: 100%;
  max-width: 35px;
  height: auto;
  cursor: pointer;
}

.editContact {
  position: absolute;
  top: 21em;
  right: 109em;
}

.text-container {
  flex: 1;
  margin: 0 20px 0 2em;
  color: #191919;

  p {
    text-align: justify;
    margin-bottom: 2em;
  }
}

.image-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  margin-right: 45px;
}

.image-container1 {
  max-width: 73%;
  display: flex;
  height: 74px;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper1 img {
  width: 100%;
  height: auto;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.image-caption {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.first-image img {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: 7em;

  @media screen and (max-width: 799px) {
    bottom: 43%;
    right: 50%;
    transform: translateX(50%);
  }
}

.second-image {
  width: 100%;
  max-width: 280px;
  height: auto;
}

.layer img {
  width: 100%;
  max-width: 170px;
  height: auto;
  position: absolute;
  top: 3em;
  left: 1em;

  @media screen and (max-width: 799px) {
    left: -4em;
  }
}

.orange img {
  width: 100%;
  max-width: 80px;
  height: auto;
  position: absolute;
  top: 28%;
  left: 30em;
}

.lovers img {
  width: 100%;
  height: auto;
  max-width: 550px;
}

.line img {
  width: 502px;
  margin-bottom: 42px;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 160px;

  &.discover-btn {
    background-color: #ED1F24;
    color: #fff;
    font-family: 'Rum Raisin';
    font-size: 1.2em;
    margin-right: 1em;
  }

  &.icon-btn {
    background-color: #ED1F24;
    color: #ED1F24;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 1em 0 0;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    background-color: #b01719;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 799px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .editB {
    position: absolute;
    bottom: 10em;
    left: 3em;
    cursor: pointer;
    width: 100%;
    max-width: 45px;
    height: auto;
  }

  .banner {
    flex-direction: column;
    justify-content: center;
  }

  .text-container {
    flex: 1;
    color: #191919;

    p {
      margin: 5em 0;
    }
  }

  .button-group {
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: column;
  }

  .orange-mobile {
    width: 100%;
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 30%;
    right: -1.8em;
  }

  .image-container {
    width: 100%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .image-container1,
  .image-container2 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .second-image {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin-left: 2.5em;
  }

  .lovers img {
    width: 321px;
  }

  .line img {
    width: 302px;
    margin-bottom: 42px;
  }

  .btn-mob {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    justify-content: space-around;
  }

  .editDes {
    position: absolute;
    top: 18em;
    left: 2em;
    cursor: pointer;
    width: 100%;
    max-width: 45px;
    height: auto;
  }

  .editContact {
    position: absolute;
    top: 33em;
    right: 19em;

    cursor: pointer;
    width: 100%;
    max-width: 45px;
    height: auto;
  }
}