.concept {
    background-color: #ED1F24;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 2em 1em 2em;
    color: white;
    font-family: 'Montserrat';
    position: relative;

    @media screen and (max-width: 799px) {
        flex-direction: column;
        text-align: center;
    }

    &--edit {
        position: absolute;
        top: 1em;
        right: 2em;
    }

    &--image {
        width: 100%;
        max-width: 300px;        
        height: auto;
        margin: 0 2em 0 1em;

        @media screen and (max-width: 799px) {
            margin: 0 0 2em 0;
            max-width: 250px;        
        }
    }

    &--icon {
        width: 100%;
        max-width: 20px;
        height: auto;
    }

    &--skills {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width: 799px) {
           flex-direction: column;
           align-items: flex-start;
        }
    }

    &--skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.5em 0.5em;
        width: 200px;
    }

    &--text {
        margin-right: 1em;
    }

    .text {
        margin: 0 0 0 1em;
        color: white;
    }

    &--title {
        margin-top: 0;
        font-family: 'Rum Raisin';
    }

    &--description {
        text-align: justify;
    }

    .command {
        width: 50%;

        @media screen and (max-width: 799px) {
            width: 100%;
            text-align: left;
        }
    }
}