.contact {
    font-family: "Montserrat";
    margin: 3em 0 5em 0; 
    overflow-x: hidden;   

    @media screen and (max-width: 799px) {
        margin-bottom: 1em;
    }

    &--title {
        font-family: "Rum Raisin";
        margin-left: 1.5em;

        @media screen and (max-width: 799px) {
        }
    }

    &--contents {
        display: flex;
        flex-direction: row;
    }

    &--content {
        @media screen and (max-width: 799px) {
            width: 87%;
            margin: auto;
        }

        &--title {
            font-weight: 700;
            font-size: 1.2em;
        }

        &--description {
            font-weight: bold;
            font-size: 0.85em;
            text-align: justify;
            margin-bottom: 7em;

            @media screen and (max-width: 799px) {
                margin-bottom: 3em;
                font-weight: normal;
            }
        }

        &--info {
            font-weight: bold;
            font-size: 0.9em;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 3em;

            @media screen and (max-width: 799px) {
                margin-top: 2em;
                font-weight: normal;
            }
        }
    }

    input {
        font-family: "Montserrat";
        border: none;
        border-bottom: 1px solid #8D8D8D;

        &:focus {
            outline: none;
            border-bottom: 1px solid #000000;
        }
    }

    .inputs {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media screen and (max-width: 320px) {
            max-width: 120px;
        }
    }

    .input-nomargin {
        margin-right: 0 !important;
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-right: 3em;
        margin-bottom: 3em;
        width: 100%;

        @media screen and (max-width: 799px) {
            margin-right: 2em;
            margin-bottom: 2em;
        }
    }

    label {
        color: #8D8D8D;
        font-size: 0.8em;
        margin-bottom: 1em;
        
        @media screen and (max-width: 799px) {
            font-size: clamp(10px, 3vw, 15px);
        }
    }

    &--icon {
        width: 100%;
        max-width: 25px;
        height: auto;

        &--text {
            margin-left: 1em;
        }
    }

    .instagram {
        margin-right: 1em;
        cursor: pointer;
    }

    .socialMedia {
        display: flex;
        flex-direction: row;
        margin-top: 7em;
        margin-bottom: 1em;

        @media screen and (max-width: 799px) {
            margin-top: 3em;
            margin-bottom: 0;
        }
    }

    .left {
        background-color: #ED1F24;
        color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 1em 3em;
        width: 35%;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        padding: 0 4em;
    }

    .confirm {
        background-color: #ED1F24;
        color: white;
        width: 100%;
        max-width: 250px;
        height: auto;
        padding: 1em 1em;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        font-family: "Montserrat";
        font-size: 1.1em;
        cursor: pointer;

        @media screen and (max-width: 799px) {
           font-size: clamp(10px, 4vw, 15px);
           max-width: 200px;
           margin-bottom: 2em;
        }

        &:hover {
            background-color: #b8181b;
        }
    }

    .confirm-container {
        display: flex;
        justify-content: right;
    }

    .desktop {
        display: block;

        @media screen and (max-width: 799px) {
            display: none;
        }
    }

    .mobile {
        display: none;

        @media screen and (max-width: 799px) {
            display: block;
        }
    }
}