html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    user-select: none;
    margin: 0;
    padding: 0;
}

.txt {
    &--bold {
        font-family: "Montserrat";
        font-weight: bold;
    }
}

.error-message {
    margin: 1em 0;
    color: #ED1F24;
    font-family: "Montserrat";
    font-size: 0.8em;

    @media screen and (max-width: 799px) {
        font-size: clamp(8px, 3vw, 13px);
    }
}