.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    color: #191919;
    font-family: "Rum Raisin";

    .logo img {
      height: 50px;
    }
  
    .menu-icon {
      display: none;
      cursor: pointer;
  
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #ED1F24;
        transition: all 0.3s;
      }
    }
  
    .navigation {
      flex-grow: 1;
      text-align: center;
  
      ul {
        list-style: none;
        margin: 15px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        color: #191919;
        align-items: center;
        gap: 4em;
  
        li {
          cursor: pointer;

          a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            transition: color 0.3s;
            font-family: "Rum Raisin";
  
            &:hover {
              color: #ED1F24;
            }
          }
        }
      }
    }
  
    .order-button {
      button {
        background-color: #ED1F24;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: "Rum Raisin";

        &:hover {
          background-color: #cc0000;
        }
      }
    }
  
    @media (max-width: 799px) {
      .menu-icon {
        display: block;
      }
  
      .navigation {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 4em;
        right: 1.2em;
        width: 100%;
        max-width: 200px;
        background-color: white;
        z-index: 1;
        border: 1px solid #ED1F24;
        border-radius: 10px;
  
        ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          width: 100%;
          max-width: 200px;
          
          li {
            width: 100%;
            max-width: 170px;
            padding: 10px 0;
            border-bottom: 1px solid #191919;
            cursor: pointer;

            a {
              display: block;
              width: 100%;
            }
          }

          .command {
            border: none;
          }
        }
      }
  
      .order-button {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
  
        button {
          width: 100%;
        }
      }
  
      .navigation.active,
      .order-button.active {
        display: flex;
      }
    }
  }
  