.mention {
    &--contents {
        font-family: "Montserrat";
        width: 85%;
        margin: 0 auto;
    }

    &--content {
        margin: 4em 0;
        text-align: justify;

        h1 {
            font-family: "Rum Raisin";

            @media screen and (max-width: 799px) {
               font-size: clamp(20px, 4vw, 2em); 
            }
        }

        h2 {
            font-family: "Rum Raisin";

            @media screen and (max-width: 799px) {
                font-size: clamp(15px, 4vw, 1.5em); 
             }
        }

        @media screen and (max-width: 799px) {
            font-size: clamp(10px, 4vw, 12px); 
        }

        a {
            color: #BD0411;
            margin: 0 0.3em;
        }
    }
}